body{
    background-color: black;
    margin:0 auto;
}
#container{
    width: 100px; margin: 0 auto; background-color: black;
}
#header{width: 100%; height:40px;border-bottom: 1px;border-top: 1px; background-color: black;}
#Resume{float: center;  height: 50px; width: 160px; background-color: black; font-style: arial; color: aquamarine; font-size: 48px;}

.head{background-color: blue;
color: chartreuse;
padding 0;
}

div{
    background-color: black;
    color: white;
}