html body{
    background-color:magenta;
    margin: 0;
    padding: 0;

}
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: beige;
    border-radius: 15px;
    padding-bottom: 18px;
    width: 325;
}
.display{
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: rgb(206, 146, 26) !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.buttons{
    padding: 20px 20px 0 20px;
}
.row{
    width: 280px;
    float: left;

}
.btn:hover{
background-color: grey;
color: honeydew;

}
input[type=button]{
    width: 60px;
    height: 60px;
    float: left;
    padding 0;
    margin: 5px;
    box-sizing: border-box;
    background-color: hotpink;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 600;
    color: lawngreen;
    cursor: pointer;
}
input[type=text]{
    width: 275px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: none;
    color: rgb(10, 10, 10);
    text-align: right;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;

}
.blue{
    background-color: tomato;
    color: white;
}